$primary-color: #f62459;
$second-color: #525252;
$third-color: #fff;

$text-color: $second-color;
$text-second-color: $primary-color;

$footer-color: #2f2e2e;

$container-width: 1000px;

* {
    box-sizing: border-box;
}

body {   
    color: $text-color;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;         
    text-align: center;    
}

section {
    padding: 20px;
    width: 100%; 
    margin: 0 auto;   
}

h2, h3 {
    font-size: 400%;
    margin: 5px;        
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transform: translateX(500px);
}