.header {
    background: #c2e1ef;
    padding-bottom: 10px;
    .header-box {
        min-height: 400px;
        max-width: $container-width;
        margin: 0 auto;
        .header-slider {
            width: 90%;
            max-width: 400px;
            animation: fadeIn 2s ease-out forwards;
        }
        .box-title {
            border-top: 3px solid $primary-color;
            border-bottom: 3px solid $primary-color;
        }
    }
    .slider-circle {
        background: $second-color;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 20px 0 20px;
        transition: all 0.5s ease-out;
        &.active {
            background: $primary-color;
        }
        &:hover {
            cursor: pointer;
            animation: grow 0.5s ease-out forwards;
        }
    }
}

@media screen and (min-width: 900px) {
    .header {
        .header-slider {
            float: left;
        }
         .header-content {
             display: inline-block;
             width: 45%;
         }
    }
}