.history {
    max-width: 1000px;
    .history-title {
        color: $primary-color;
    }
    .history-fact {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        &:before {
            content: '';
            display: inline-block;            
            width: 8px;
            height: 16px;            
            border: solid $primary-color;
            border-width: 0 4px 4px 0;
            transform: rotate(45deg);
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    .history-img {
        display: block;
        float: right;
        width: 30%;
        max-width: 400px;
    }
    .history-content {
        display: inline-block;
        width: 50%;
    }
}