.timeline {
    background: $second-color;
    max-width: $container-width;
    .timeline-left {
        padding-right: 10px;
        .timeline-year {
            margin-left: 10px;
        }
    }
    .timeline-right {
        padding-left: 10px;
        .timeline-year {
            margin-right: 10px;
        }
    }
    .timeline-img {
        width: 180px;
        height: 180px;
        margin: 10px;
        border-radius: 15px;
        background: $primary-color;
        &:hover {
            animation: grow-mini 0.5s ease-out forwards;
            cursor: pointer;
        }
    }
    .timeline-name,
    .timeline-text {
        color: $third-color;
    }
    .timeline-name {
        font-size: 250%;
    }
    .timeline-text {
        width: 90%;
        display: inline-block;
        text-align: justify;
    }
    .timeline-year {
        color: $text-second-color;
    }    
}

@media screen and (min-width: 768px) {
    .timeline-left,
    .timeline-right {
        width: 50%;
        min-height: 270px;
    }
    .timeline-left {
        display: block;
        float: left;
        text-align: right;        
    }
    .timeline-border {
        border-right: 5px solid $primary-color;            
    }
    .timeline-right {
        display: inline-block;
        text-align: left;
    }
    .timeline .timeline-text {
        width: 80%;
    }
    .timeline-circle {
        $circle-radius: 25px;
        width: $circle-radius;
        height: $circle-radius;
        background: $primary-color;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        transform: translate(-15px, -10px);
    }
}